* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --first-color:whitesmoke;
   --second-color:black;

}
body {
    /* background-image: url("https://wallpapercosmos.com/w/middle-retina/a/e/0/268940-3840x2160-desktop-4k-farm-background-photo.jpg"); */
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/337/706/397/landscape-aerial-view-farm-trees-wallpaper-preview.jpg");   */
    /* background-image: url("https://wallpapercosmos.com/w/middle-retina/c/5/e/268946-3840x2160-desktop-4k-farm-wallpaper-photo.jpg"); */
    background-image: url("https://wallpapercosmos.com/w/middle-retina/c/a/7/268957-3840x2160-desktop-4k-farm-wallpaper-image.jpg");
    /* background-image: url("https://wallpapercosmos.com/w/middle-retina/c/9/7/269034-3840x2160-desktop-4k-farm-wallpaper-image.jpg"); */
}

.system_card {
    width: 75%;
    min-width: 300px;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 12px 10px;
    margin: 20px auto;
}

.title {
    text-align: center;
    font-size: 36px;
    font-family: 'Libre Baskerville', serif;
    color: var(--first-color);
}

form {
    margin-top: 20px;
    padding: 4px 15px;
}

form label {
    color: black;
    font-weight: 720;
}

.btn {
    margin-top: 10px;
}

/* Align or remove this to remove the transparent filter of input ande color opf input  */
.form_input {
    background-color: transparent !important;
    border: 2px solid black !important;
    color: var(--first-color) !important;
}

.form_input::placeholder {
    color: rgba(245, 245, 245, 0.61) !important;
}

/* media query */
@media only screen and (max-width: 1050px){
.title {
        font-size: 22px;
    }
}
@media only screen and (max-width: 700px){
.title {
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px){
.title {
        font-size: 16px;
    }
}
